* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Font size */ 
    --sm: 1.4rem;
    --md: 1.8rem;
    --lg: 2.2rem;
    --xl: 3rem;

    /* Colors */
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #686868;

    --primary-color: #001b48;
    --secondary-color: #02457a;
    --tertiary-color: #0044C2;
    --light-color: #f0f0f0;
    
    /* Border Radius */
    --br: 12px;

    /* Box shadow */
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* **************************
    Estilos que se reutilizan
************************** */

/* Contenedor que ajusta sus columas de acuerdo al tama帽o del dispositivo */
.responsive-container {
    display: grid;
    gap: 12px;
}

.section__title {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.section__text {
    font-size: var(--md);
    color: var(--black-color);
}

.container__subtitle {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.responsive-container img {
    width: 80%;
    height: auto;
}

.responsive-container .container__image {
    display: flex;
    align-items: center;
}

/* Listas no ordenada (vi帽eta azul) */
.unorder-list {
    list-style: none;
}

li {
    margin-bottom: 12px;
    list-style-type: '';
    padding-inline-start: 1ch;
}

.unorder-list li::marker{
    font-size: 1rem;
}

/* *********************************
    Estilos del archivo index.html
********************************* */

/* Header */
.collapse.navbar-collapse {
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar__item {
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
    color: var(--black-color);
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.6s ease-in-out;
}

.navbar__item:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer__image--img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.footer .footer__text--big {
    font-size: var(--lg);
    color: var(--tertiary-color);
    padding: 32px;
    background-color: var(--white-color);
    text-align: center;
}

.footer div.footer__text--small {
    font-size: var(--lg);
    color: var(--white-color);
    padding: 12px;
    background-color: var(--secondary-color);
    text-align: center;
}

.footer__deskrive {
    background-color: var(--gray-color);
    color: var(--white-color);
    font-size: var(--sm);
    padding: 4px;
    text-align: center;
}

.footer__deskrive a {
    color: rgb(0, 221, 55);
    text-decoration: none;
}

/* Hero */

.home-main__hero {
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.hero__text {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    color: var(--white-color);
    height: 200px;
    padding: 16px;
    position: absolute;
}

.hero__text--title {
    font-size: var(--lg);
    margin-bottom: 20px;
}

.hero__text--content {
    font-size: var(--md);
}

/* Propuesta de valor */ 
.home-main__propuesta {
    background-color: var(--light-color);
    color: var(--secondary-color);
    padding: 32px;
    text-align: center;
}

.home-main__propuesta--title {
    font-size: var(--xl);
    font-weight: bold;
    margin-bottom: 20px;
}

.home-main__propuesta--content {
    font-size: var(--md);
    color: var(--black-color);
    margin: 0 auto;
}


/* Beneficios */
.home-main__beneficios header{
    color: var(--primary-color);
    margin-top: 24px;
    text-align: center;
}

.home-main__beneficios ul {
    list-style: none;
}

.home-main__beneficios ul li {
    margin-bottom: 4px;
}

.home-main__beneficios ul li {
    margin-bottom: 4px;
}

/* Soluciones */
.soluciones__title{
    color: var(--primary-color);
    margin-top: 24px;
    text-align: center;
    font-size: var(--xl);
}

.soluciones__cards {
    display: grid;
    margin: 24px 0;
    justify-content: center;
}

.soluciones__card {
    border: 1px solid var(--light-color);
    border-radius: var(--br);
    color: var(--gray-color);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.soluciones__card .card__title {
    font-size: var(--md);
    font-weight: 600;
    text-align: center;
}
.soluciones__card .card__img {
    width: 80%;
    height: auto;
    margin: 40px 0;
}

.soluciones__card footer {
    font-size: var(--md);
    text-align: left;
    width: 100%;
}

.soluciones__card .card__link {
    color: var(--gray-color);
    font-size: var(--md);
    padding: 8px 12px;    
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.soluciones__card .card__link:hover {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: var(--br);
    color: var(--white-color);
    padding: 8px 12px;    

    transition: all 0.3s ease-in-out;
}

/* Coaching empresarial */
.home-main__coaching {
    background-color: var(--light-color);
}

/* Lo que dicen de nosotros */
.home-main__opiniones {
    background-color: var(--light-color);
    padding-bottom: 40px;
}

.opiniones__header {
    text-align: center;
    padding: 24px 0;
    font-size: var(--md);
}

.opiniones__header h1 {
    color: var(--primary-color);
}

.carousel .carousel-inner {
    display: flex;
    justify-content: center;
    width: auto;
}

.home-main__opiniones .home-main__opinion {
    background-color: var(--white-color);
    border-radius: var(--br);
    padding: 24px;
    box-shadow: var(--box-shadow);
    margin: 12px 0;
}

.home-main__opinion h2 {
    color: var(--primary-color);
    font-size: var(--md);
}

.home-main__opinion h3 {
    color: var(--gray-color);
    font-size: var(--md);
    margin: 8px 0;
}

.home-main__opinion p {
    color: var(--black-color);
    font-size: var(--sm);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    transform: scale(2);
}

/* *********************************
    Estilos del archivo about.html
********************************* */

/* Seccion: Primeros pasos para la transformaci贸n */
.about-main__pasos .pasos__header {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.pasos__container-1, .pasos__container-2 {
    display: grid;
    font-size: var(--md);
}

.about-main__pasos .pasos__list {
    padding: 16px;
}

.pasos__list .unorder-list li {
    list-style-type: '';
    padding-inline-start: 1ch;
}

.pasos__list .unorder-list li::marker {
    font-size: var(--md);
}

.about-main__pasos .pasos__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 12px;
    margin: 16px 0;
}

.pasos__cards .pasos__card {
    border: 2px solid var(--primary-color);
    border-radius: var(--br);
    text-align: center;
}

.pasos__card .card__title {
    background-color: var(--primary-color);
    border-radius: 8px 8px 0 0;
    color: var(--white-color);
    font-size: var(--lg);
    padding: 12px;
}

.pasos__card .card__content {
    color: var(--black-color);
    font-size: var(--md);
    margin: 12px;
    font-weight: bold;
}

/* Secci贸n: Acerca de vision y transformaci贸n dig. */
.about-main__vision {
    margin: 64px 0;
}
.about-main__vision .vision__title {
    text-align: center;
}

.vision__content.responsive-container {
    gap: 32px;
}

.vision__content .vision__banner {
    background-color: var(--secondary-color);
    color: var(--white-color);
    height: auto;
    margin: auto;
    padding: 16px 28px;
    width: 90%;
    font-size: var(--sm);
}

.vision__content .vision__banner h1 {
    font-weight: bold;
}

.vision__banner .vision__banner--footer {
    text-align: center;
}

.vision__banner .vision__banner--footer img {
    width: 36px;
    margin: 4px 12px 0 12px;
    transition: all 0.7s ease-in-out;

}

.vision__banner .vision__banner--footer img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* *********************************
    Estilos del archivo services.html
********************************* */
.services-main__asesorias {
    background-color: var(--light-color);
}

.responsive-container .asesorias__column img {
    width: 80%;
    height: auto;
}

.asesorias__column ul li {
    list-style: none;
    margin: 8px 0;
}

.asesorias__column--img {
    display: flex;
    align-items: center;
}

.services-main__asociados {
    text-align: center;
    padding: 36px 0;
}

.asociados-img {
    width: 200px;
}



/* Secci贸n: Instrumentacion analitica */
.services-main__instrumentacion {
    background-color: var(--light-color);
    padding: 64px;
}
.section__header {
    text-align: center;
    margin: 32px auto;
}

.services-main__instrumentacion .instrumentacion__section {
    text-align: center;
}


.instrumentacion__proceso {
    display: flex;
    justify-content: center;
    text-align: center;
}

.proceso__step {
    position: relative;
}

.proceso__step h1 {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white-color);
    font-size: 3.6rem;
    margin: 12px auto;
    width: 50px;
    height: 50px;
}

.proceso__step h2 {
    color: var(--primary-color);
    font-size: var(--md);
}

.proceso__step p {
    font-size: var(--sm);
}

.step__line {
    background-color: var(--primary-color);
    height: 4px;
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 35px;
    left: 60%;
}

.instrumentacion__columns {
    display: grid;
    margin: 48px auto 0 auto;
    justify-content: center;
}

.instrumentacion__column ul,p {
    font-size: var(--md);
    list-style: none;
}

.instrumentacion__column li {
    margin: 12px 0;
}

.instrumentacion__footer {
    text-align: center;
}

.electricas__content {
    font-size: var(--md);
    justify-items: center;
    align-items: center;
}

.services-main__electricas .electricas__content .container__image {
    justify-content: center;
    align-items: center;
}

.asociados__variaciones {
    background-color: var(--light-color);
}

/* *********************************
    Estilos del archivo contact.html
********************************* */

.contacto-main__cta {
    text-align: center;
}

.contacto-main__cta .section__title {
    font-size: var(--xl);
}

.cta__form {
    border: 2px solid var(--primary-color);
    border-radius: var(--br);
    margin: auto;
    margin-bottom: 62px;
    text-align: left;
}

.cta__form .form__header {
    background-color: var(--primary-color);
    border-radius: 8px 8px 0 0;
    color: var(--white-color);
    padding: 12px;
    text-align: center;
}

.cta__form .form__header h2 {
    font-size: var(--xl);
}

.cta__form .form__body {
    padding: 12px 24px;
}

.form__body .input {
    display: flex;
    flex-direction: column;
    font-size: var(--md);
    margin: 12px 0;
}

.form__body .input label span {
    color: rgb(201, 0, 0);
}

.form__body .input input, select  {
    padding: 0px 4px;
    border: 1px solid var(--gray-color);
    transition: all 0.7s ease-in-out;
    border-radius: 4px;
}

.form__body .input input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

.form__body .form__submit {
    text-align: center;
    margin: 24px 0;
    color: var(--gray-color);
}

.form__body .form__submit p {
    font-size: var(--sm);
    margin: 4px 0;
}

.form__body input[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--br);
    color: var(--white-color);
    font-size: var(--md);
    padding: 12px;
    width: 66%;
    margin: auto;
}

textarea[name=service] {
    resize: none;
}

/* *********************************
    Estilos del archivo landing1.html
********************************* */
/* Header del documento */
.header-landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 64px;
}

.header-landing__number {
    color: var(--primary-color);
    text-align: center;
}

.header-landing__number span svg {
    width: 24px;
    height: 24px;
}

.header-landing__button button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--br);
    color: var(--white-color);
    font-size: 2rem;
    padding: 12px;
    width: 150px;
}

.landing1-main__somos {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.landing1-main__somos h1 {
    font-size: 2rem;
}

.landing1-main__cta {
    position: relative;
}

.landing1-main__cta .cta__form {
    position: absolute;
    right: 5%;
    top: -280px;
    background-color: var(--white-color);
}

.landing1-main .services-main__instrumentacion {
    background-color: var(--white-color);
}

.services-main__productos {
    display: grid;
    background-color: var(--light-color);
}

.services-main__productos .productos__card {
    padding: 32px;
}

.landing1-main__medioambiental, .landing1-main__semiconductores {
    background-color: var(--light-color);
}

/* *********************************
    Estilos del archivo landing2.html
********************************* */

.landing1-main__erp,
.landing1-main__coaching {
    background-color: var(--light-color);
}


/* Mediaquery para dispositivos de 320 a 768px */
@media (min-width: 320px) {
    .navbar__logo {
        width: 200px;
    }
    .header .navbar {
        padding: 32px;
    }

    .responsive-container {
        grid-template-columns: 1fr;
        padding: 32px;
    }

    .home-main__hero {
        height: 300px;
    }
    .hero__text {
        height: 280px;
        left: calc(50% - 150px);
        top: calc(50% - 140px);
        width: 300px;
    }
    .home-main__propuesta--content {
        width: 80%;
    }

    .soluciones__cards {
        grid-template-columns: repeat(2, minmax(150px, 200px));
        grid-gap: 12px;
        padding: 32px;
    }

    a.carousel-control-next,
    a.carousel-control-prev
    {
        width: 20%;
    }

    .home-main__opiniones .home-main__opinion {
        width: 250px;
    }

    .about-main__pasos {
        padding: 32px;
    }
    .pasos__container-1, .pasos__container-2 {
        grid-template-columns: 1fr;
    }
    .pasos__container-1 .pasos__cards {
        grid-row: 1; /* Con el row, manda las cards a la primera columna en tama帽o de dispositivo > 768px */
    }
    .home-main__pasos .pasos__line {
        display: none;
    }


    .asesorias__column--img,
    .responsive-container .container__image {
        justify-content: center;
    }

    .reverse-responsive .container__image {
        grid-row: 3; /* La imagen se situa despues de la columna de texto */
    }

    .services-main__instrumentacion {
        padding: 32px;
    }

    .section__header {
        width: 100%;
    }

    .instrumentacion__proceso {
        flex-direction: column;
        align-items: center;
    }

    .proceso__step {
        width: 100%;
    }

    .step__line {
        display: none;
    }
    
    .instrumentacion__columns {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }

    .cta__form {
        width: 300px;
    }

    .header-landing {
        justify-content: center;
    }

    .header-landing div {
        margin: 12px 0;
    }

    .landing1-main__somos {
        padding: 16px 32px;
    }
    .somos__text {
        width: 100%;
        text-align: center;
    }
    .landing1-main__cta .cta__text {
        width: 100%;
        padding: 16px 32px;
    }
    .landing1-main__cta .cta__form {
        position: static;
    }

    .services-main__productos {
        grid-template-columns: 1fr;
    }

    .services-main__productos .productos__card:nth-child(2) {
        border-top: 1px solid var(--gray-color);
        border-bottom: 1px solid var(--gray-color);
    }
    

}

/* Mediaquery para dispositivos mayores a  768px */
@media (min-width: 768px) {
    .navbar__logo {
        width: 300px;
    }
    
    .header .navbar {
        padding: 12px 64px;
    }

    .responsive-container {
        grid-template-columns: 1fr 1fr;
        padding: 32px 64px;

    }

    .home-main__hero {
        height: 400px;
    }
    .hero__text {
        left: 64px;
        width: 400px;
        height: 200px;
    }
    .home-main__propuesta--content {
        width: 50%;
    }

    .soluciones__cards {
        grid-template-columns: repeat(auto-fit, minmax(120px, 250px));
        padding: 0 64px;
    }
    
    .home-main__opiniones .home-main__opinion {
        width: 500px;
    }
    a.carousel-control-next,
    a.carousel-control-prev
    {
        width: 30%;
    }

    .about-main__pasos {
        padding: 32px 64px;
    }
    .pasos__container-1 { /* Distrubuye el contenido dentro del primer contenedor */
        grid-template-columns: 2fr 1fr 3fr;
    }
    .pasos__container-2 { /* Distrubuye el contenido dentro del primer segundo */
        grid-template-columns: 3fr 1fr 2fr;
    }
    .about-main__pasos .pasos__line {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-main__pasos .pasos__line .line {
        width: 70%;
        height: 5px;
        background-color: var(--black-color);
    }
    .pasos__container-1 .pasos__cards { /* Regresa las cards a un orden normal en dispositivos >= 768px */
        grid-row: 1;
        grid-column: 3;
    }

    .asesorias__column--img,
    .responsive-container .container__image {
        justify-content: right;
    }

    .reverse-responsive .container__image {
        justify-content: left;
        grid-row: 1; /* La imagen se situa antes de la columna de texto */
    }

    .services-main__instrumentacion {
        padding: 64px;
    }

    .section__header {
        width: 50%;
    }

    .instrumentacion__proceso {
        flex-direction: row;
        align-items: flex-start;
    }
    .proceso__step {
        width: 25%;
    }
    .step__line {
        display: block;
    }

    .instrumentacion__columns {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 64px;
        justify-items: center;
    }

    .cta__form {
        width: 400px;
    }

    .header-landing {
        justify-content: space-between;
    }
    .header-landing div {
        margin: 0;
    }

    .landing1-main__somos {
        padding: 16px 64px;
    }
    .somos__text {
        width: 47%;
        text-align: left;
    }
    .landing1-main__cta .cta__text {
        width: 50%;
        padding: 16px 80px;
    }
    .landing1-main__cta .cta__form {
        position: absolute;
    }

    .services-main__productos {
        padding: 0px 64px;
        grid-template-columns: repeat(3, 1fr);
    }

    .services-main__productos .productos__card:nth-child(2) {
        border: none;
        border-left: 1px solid var(--gray-color);
        border-right: 1px solid var(--gray-color);
    }
}